// THEME 1 COLORS

// Backgrounds
$main-bkgd-blue: hsl(222, 26%, 31%);
$kpad-tgle-bkgd-blue: hsl(223, 31%, 20%);
$scrn-bkgd-blue: hsl(224, 36%, 15%);

// Keys
$key-bkgd-blue: hsl(225, 21%, 49%);
$key-shdw-blue: hsl(224, 28%, 35%);

$key-tgle-bkgd-red: hsl(6, 63%, 50%);
$key-shdw-red: hsl(6, 70%, 34%);

$key-bkgd-org: hsl(30, 25%, 89%);
$key-shdw-org: hsl(28, 16%, 65%);

// Text
$dk-gray-yellow: hsl(60, 10%, 19%);
$txt-white: hsl(0, 0, 100%);

// THEME 2 COLORS

// Backgrounds

$main-bkgd-ltgray: hsl(0, 0%, 90%);
$kpad-tgle-bkgd-gr-red: hsl(0, 5%, 81%);
$scrn-bkgd-ltgray: hsl(0, 0%, 93%);

// Keys

$key-bkgd-dkcyan: hsl(185, 42%, 37%);
$key-shdw-dkcyan: hsl(185, 58%, 25%);

$key-tgle-org: hsl(25, 98%, 40%);
$key-shdw-dk-org: hsl(25, 99%, 27%);

$key-bkgd-gr-yellow: hsl(45, 7%, 89%);
$key-shdw-grorg: hsl(35, 11%, 61%);

// Text

$dkgray-yellow: hsl(60, 10%, 19%);
$txt-white: hsl(0, 0, 100%);

// THEME 3 COLORS

// Backgrounds

$main-bkgd-dkviolet: hsl(268, 75%, 9%);
$key-tgle-scrn-bkgd-dkviolet: hsl(268, 71%, 12%);

// Keys

$key-bkgd-dkviolet: hsl(281, 89%, 26%);
$key-shdw-magenta: hsl(285, 91%, 52%);

$key-tgle-bkgd-cyan: hsl(176, 100%, 44%);
$key-shdw-cyan: hsl(177, 92%, 70%);

$key-bkgd-dkviolet: hsl(268, 47%, 21%);
$key-shdw-dkmagenta: hsl(290, 70%, 36%);

// Text

$ltyellow: hsl(52, 100%, 62%);
$dk-blue: hsl(198, 20%, 13%);
$txt-white: hsl(0, 0, 100%);
